{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    ["@babel/preset-react"],
    ["@babel/preset-typescript"],
    "next/babel"
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "~",
        "rootPathSuffix": "."
      }
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ],
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeTitle": true
            },
            {
              "cleanupIDs": {
                "minify": false
              }
            }
          ]
        }
      }
    ],
    [
      "lodash",
      {
        "id": ["lodash"]
      }
    ]
  ]
}
