ENV=dev 
NODE_ENV=dev
NEXT_PUBLIC_API_URL=http://localhost:3002

MONGODB_URI=mongodb://localhost:27017
TEST_MONGODB_URI=mongodb://localhost:27017
DB_NAME=aintboard

DB_NAME_TEST=aintboard_test
LOCAL_URL=http://localhost:3002

TOKEN_SECRET=secret
#3600 1 hour
TOKEN_EXPIRY=60
