{
  "plugins": ["react", "jsx-a11y"],
  "extends": ["react-app", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "mocha": true
  },
  "rules": {
    "no-const-assign": "error",
    "import/no-anonymous-default-export": "error",
    "import/dynamic-import-chunkname": "error",
    "react-hooks/exhaustive-deps": [
      "error",
      { "additionalHooks": "useCustomCompareMemo" }
    ],
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/alt-text": [
      2,
      {
        "elements": ["img", "object", "area", "input[type=\"image\"]"],
        "img": ["Image"],
        "object": ["Object"],
        "area": ["Area"],
        "input[type=\"image\"]": ["InputImage"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "babel-plugin-root-import": {
        "rootPathPrefix": "~",
        "rootPathSuffix": "."
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
